body{
	font-size: 32px;
	margin: 0px;
}
p{
	margin: 0px;
}
.frase1, .frase2{
	text-align: justify;
	width: 700px;
	padding: 20px;
	border: 6px double red;
	background-color: yellow;
	border-radius: 0px 25px 0px 25px;
}
.frase2{
	/* margin-top: 10px; */
	margin: 10px auto;  /* "auto" centraliza */
}